<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">MambaDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/businesses">Businesses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h3>Add product</h3>
        <form method="POST" action="">
            <div class="form-group">
                <label for="productlabel">Product label</label>
                <input type="text" class="form-control" name="productlabel" placeholder="Product label">
            </div>
            <div class="form-group">
                <label for="productcategory">Product category</label>
                <input type="text" class="form-control" name="productcategory" placeholder="Product category">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" name="quantity" placeholder="Quantity">
            </div>
            <div class="form-group">
                <label for="businessid">Business ID</label>
                <input type="number" class="form-control" name="businessid" placeholder="Business ID">
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" class="form-control" name="manufacturer" placeholder="Manufacturer">
            </div>
            <div class="form-group">
                <label for="modelnumber">Model number</label>
                <input type="text" class="form-control" name="modelnumber" placeholder="Model number">
            </div>
            <div class="form-group">
                <label for="serialnumber">Serial number</label>
                <input type="text" class="form-control" name="serialnumber" placeholder="Serial number">
            </div>
            <div class="form-group">
                <label for="sku">SKU</label>
                <input type="text" class="form-control" name="sku" placeholder="SKU">
            </div>
            <div class="form-group">
                <label for="buyprice">Buy price</label>
                <input type="number" class="form-control" name="buyprice" placeholder="Buy price">
            </div>
            <div class="form-group">
                <label for="msrp">MSRP</label>
                <input type="number" class="form-control" name="msrp" placeholder="MSRP">
            </div>
            <button type="submit" class="btn btn-dark btn-sm" role="button">Submit</button>
        </form>
        <br>
    </div>
    {% include "partials/bootstrap-js.html" %}
</body>
</html>