<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">MambaDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/businesses">Businesses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h3>Update business</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align="center">
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/businessname">Business name</a>
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/street">Street</a>
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/city">City</a>
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/state">State</a>
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/zipcode">ZIP Code</a>
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/telephone">Telephone</a>
            <a role="button" class="btn btn-dark btn-sm" href="/businesses/update/type">Type</a>
        </div>
    </div>
    {% include "partials/bootstrap-js.html" %}
</body>

</html>